@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sacala:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  font-size: 100%;
  background: linear-gradient(68.15deg, #2f2325 16.62%, #8e5d52 85.61%);
}
.cabecalho{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
}
.cabecalho-imagem{
  height: 72px;
}
.cabecalho-menu{
  display: flex;
  gap: 32px;
}

